#bodyWrapper {
    flex: 0 0 69%;
    overflow: auto;
}

.infoBar {
    background-color: #ffffe3;
    z-index: 1002;
    height: 100%;
    width: 30%;
    overflow: auto;
    position: fixed;
    margin-left: 71%;
}

.pageContainer {
    display: flex;
    overflow: hidden;
    position: relative;
    will-change: overflow;
    width: 100%;
    height: 100%;
}

#coverageInfoBar {
    font-size: 14px;
}

.coveragePin {
    all: initial;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;

    color: #555;
    font-size: 12px;
    border: 1px solid #666;
    background-color: deepskyblue;
}

.coverageInfoBar input:checked+label {
    color: #555;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}

.coverageInfoBar input {
    display: none;
    position: absolute;
}

.coverageInfoBar label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px 5px;
    font-weight: 600;

    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

.coverageInfoBar section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#section1, #tab2:checked~#section2 {
    display: block;
}

.test-list {
    list-style: none;
    padding-left: 0;
}

.test-item {
    padding: 3px 0;
}

.status {
    padding-right: 5px;
}

.status-passed {
    color: #78b63c;
}

.status-failed {
    color: #ff2602;
}

.status-broken {
    color: #febe0d;
}

.status-skipped {
    color: #888888;
}
